@font-face{
	font-family: "MADECanvas Black";
	src: url("MADE Canvas Black PERSONAL USE.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "MADECanvas Regular";
	src: url("MADE Canvas Regular PERSONAL USE.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "avantebs";
	src: url("avantebs.ttf");
	font-style: normal;
	font-weight: normal;
}