/*--------------------------------------------------
	Модальные окна - modal windows
---------------------------------------------------*/
.M {
  @include modalWindowNew;

  &-set-region {
    .M {
      &__main-wrapper {
        height: max-content;
        padding: 16px 0;
      }
    }
    &__text {
      margin-top: 8px;

      @extend .p1-cap;
      font-weight: 700;

      span {
        color: $color-coral1;
      }
    }
    &__button {
      @include flexCenter;
      width: calc(100% - 16px / 2);
      padding: 8px;
      margin-right: 16px;

      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #ffffff;

      background: $color-coral1;
      border-radius: $border-radius1;

      @include for-size(phone-min) {
        font-size: 14px;
        line-height: 18px;
      }

      &:last-child() {
        margin-right: 0;
      }

      &--background--gray {
        background: $color-black2;
      }
    }
    &__flexRow {
      margin-top: 16px;
      width: 100%;
    }
  }
  &-set-location {
    &__header {
      @extend .btn;
      color: white;

      padding: 16px;

      background: $color-black2;
    }
    &__close-btn {
      position: absolute;
      top: 12px;
      right: 12px;

      @include flexCenter;
      width: 24px;
      height: 24px;

      &:before,
      &:after {
        content: "";
        position: absolute;

        width: 18px;
        height: 2px;

        background: white;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &__main-wrapper {
      background: $color-bg2;
    }
    &__container {
      width: 100%;
      padding: 16px 0;
    }
    &__search-panel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 8px 0 0;
      margin: 8px 0;

      background: #ffffff;
      border-radius: $border-radius1;
    }
    &__input {
      width: 100%;
      border: unset;
      padding: 12px;

      &::placeholder {
        color: $color-black2;
      }
    }
    &__list {
      &-item,
      &-item--red {
        width: 100% !important;
        margin-top: 16px !important;

        border: unset !important;

        @extend .p1-cap;
        font-weight: 300;
      }
      &-item--red {
        color: $color-coral1;
      }
    }
  }
  &-sorting {
    &__header {
      @extend .p1-cap;
      color: white;

      padding: 16px;

      background: $color-black2;
    }
    &__close-btn {
      position: absolute;
      top: 12px;
      right: 12px;

      @include flexCenter;
      width: 24px;
      height: 24px;

      &:before,
      &:after {
        content: "";
        position: absolute;

        width: 18px;
        height: 2px;

        background: white;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &__main-wrapper {
      background: $color-bg2;
    }
    &__content {
      width: 100%;

      display: flex;
      flex-direction: column;
    }
    &__item {
      padding: 24px 0;

      @extend .p1-cap;
      color: $color-black3;

      border-bottom: 1px solid #ebebeb;
    }
  }
  &-filters {
    &__header {
      @extend .p1-cap;
      color: white;

      padding: 16px;

      background: $color-black2;
    }
    &__close-btn {
      position: absolute;
      top: 12px;
      right: 12px;

      @include flexCenter;
      width: 24px;
      height: 24px;

      &:before,
      &:after {
        content: "";
        position: absolute;

        width: 18px;
        height: 2px;

        background: white;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &__main-wrapper {
      background: $color-bg2;

      padding-bottom: 56px;
    }
    &__content {
      width: 100%;

      display: flex;
      flex-direction: column;
    }
    &__filter {
      padding: 24px 0;

      border-bottom: 1px solid #ebebeb;

      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @extend .p1-cap;
        color: $color-black3;

        &-flexRow {
          align-items: center;
        }
        &-icon {
          margin-right: 8px;
          width: 24px;
          height: 24px;

          fill: $color-coral1;
        }
      }
      &-content {
        &-title {
          @extend .p1-cap;
        }
      }
      &-toggle {
        .M-filters__filter-content {
          display: none;
        }
        &.is-active {
          .M-filters__filter-content {
            display: flex;
            flex-direction: column;
          }
          .M-filters__filter-content-title {
            margin-top: 16px;
          }
        }
      }
    }
    &__checkboxes-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-top: 16px;
      margin-bottom: -8px;
    }
    &__custom-checkbox {
      margin-bottom: 8px;

      &.is-active {
        label {
          background: $color-coral1;
          color: white;
        }
      }
      &.is-disabled {
        opacity: 0.3;
        pointer-events: none;
      }
      label {
        display: flex;
        width: max-content;
        padding: 8px;
        margin-right: 8px;

        @extend .btn;
        color: $color-black3;

        background: $color-bg3;
        border-radius: $border-radius1;
      }
    }
    &__custom-checkbox-color {
      label {
        @include flexCenter;
        overflow: hidden;
        width: 32px;
        height: 32px;
        margin-right: 16px;

        border-radius: 50%;

        border: 1px solid #ebebeb;
      }
      &.is-disabled {
        opacity: 0.3;
        pointer-events: none;
      }
      &.is-active {
        label {
          border: 1px solid $color-coral1;
        }
      }
    }
    &__footer {
      position: fixed;
      z-index: 2;
      bottom: 0;
      left: 0;

      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 8px 16px;
      background: #ffffff;
    }
    &__discard-button {
      @include button-with-bg(
        transparent,
        $color-black3,
        transparent,
        $color-black3
      );

      width: calc(100% - 16px / 2);
      margin-right: 16px;
      padding: 12px 0;

      border-radius: $border-radius1;
    }
    &__accept-button {
      @include button-with-bg($color-coral1, #ffffff, $color-coral1, #ffffff);

      width: calc(100% - 16px / 2);
      padding: 12px 0;

      border-radius: $border-radius1;
    }
    &__price-range {
      margin-top: 16px;
    }
  }
  &-search{
    top: $header-height !important;

    width: 100%;
    height: calc(100vh - #{$header-height});

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 8px 16px;

      background: $color-black2;

      &-search-panel{
        width: 100%;
        margin-right: 16px;
      }
    }
    &__close-btn {
      @include flexCenter;
      width: 24px;
      height: 24px;

      &:before,
      &:after {
        content: "";
        position: absolute;

        width: 18px;
        height: 2px;

        background: white;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &__main-wrapper {
      background: $color-bg2;
    }
    &__content {
      width: 100%;
      padding: 16px;
    }
    &__tags-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    &__tag {
      margin: 0 8px 8px 0;
      padding: 10px;
  
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: $color-black3;
  
      background: $color-bg3;
      border-radius: $border-radius1;
    }
    &__popular-goods{
      width: 100%;
      margin-top: 16px;

      &-title{
        @extend .p1-cap;
        margin-bottom: 16px;
      }
      &-item{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 16px 0;  

        @extend .p2; 
        color: $color-black3;
        
        border-bottom: 1px solid $devider;

        &:nth-child(1){
          border-top: 1px solid $devider;
        }

        &-icon{
          width: 16px;
          height: 16px;
          margin-right: 8px;

          fill: $color-black2;
          stroke: $color-black2;
        }
      }
    }
    &__suggestions{
      width: 100%;
      margin-top: 16px;

      &-title{
        @extend .p1-cap;
        margin-bottom: 16px;
      }
      &-item{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 16px 0;  

        @extend .p2; 
        color: $color-black3;
        
        border-bottom: 1px solid $devider;

        &:nth-child(1){
          border-top: 1px solid $devider;
        }

        &-icon{
          width: 16px;
          height: 16px;
          margin-right: 8px;

          fill: $color-black2;
          stroke: $color-black2;
        }
      }
    }
    &__pop-goods-list{
      &-title{
        margin: 24px 0 0 0;
        @extend .p1-cap; 
      }
      &-item{
        display: flex;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid $devider;

        &-img{
          width: 25%;
          max-width: 50px;
        }
        &-text{
          margin-left: 16px;

          @extend .p2;
          color: $color-black3;
        }
      }
    }
    &__show-all-result{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 24px 0 16px 0;

      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: $color-coral1;

      &-icon{
        width: 16px;
        height: 16px;
        stroke: $color-coral1
      }
    }
  }
  &-auth{
    &__main-wrapper{
      background: $color-bg2;
    }
    &__close-btn{
      position: absolute;
      top: 36px;
      right: 28px;

      @include flexCenter;
      width: 16px;
      height: 16px;
  
      cursor: pointer;
  
      &:before,
      &:after {
        content: "";
        position: absolute;
  
        width: 18px;
        height: 2px;
  
        background: $color-black2;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &__toggled{
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-top: 32px;

      &-title{
        margin-bottom: 24px;

        color: $color-coral1;
        
        &.like-h2{
          color: $color-coral1;
        }
      }
      &-subtitle{
        margin-bottom: 16px;

        @extend .p1;
        color: $color-black3;
      }
      &-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 24px;
      }
      &-wrapper{
        display: flex;
        flex: 1;
      }
      &-triggers{
        display: flex;
        overflow: hidden;
        width: calc(100% - 16px - 24px);

        border-radius: $border-radius2;
      }
      &-trigger{
        width: 50%;
        @include flexCenter;
        padding: 12px 0;

        @extend .btn;
        background: #ffffff;

        &.is-active{
          background: $color-coral1;
          color: #ffffff;
        }
      }
      &-toggled{
        flex-direction: column;
        margin-top: 24px;

        .s-lk__form-mainline{
          &:last-child{
            margin-bottom: 8px;
          }
        }
      }
      &-form-item{
        margin-bottom: 24px;
      }
      &-toggled-button{
        @include button-with-bg($color-coral1, white, $color-coral1, white);
      
        width: 100%;
        margin-top: 16px;
        border-radius: $border-radius1;
        padding: 12px;
      }
      &-img-wrapper{
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        height: 116px;
      }
      &-img{
        width: 152px;
        margin: auto;
      }
      &-button-auth, &-button-reg{
        @extend .btn-default;
        margin-top: 16px;
      }
      &-policy-privacy{
        margin-top: 16px;

        @extend .p1;
        color: $color-black2;
        
        a{
          @extend .p1;
          color: $color-black2;
          text-decoration: underline;
        }
      }
      .s-lk__form-item{
        input{
          background: #ffffff;
        }
      }
    }
    &__forgot-pass{
      margin-bottom: 8px;

      @extend .btn;
      color: $color-coral1;
    }
    &__cat-message-auth{
      margin: auto 0 0 auto;
    }
    &__cat-message-reg{
      margin: 0 0 0 auto;
    }
  }
  &-reset-password, &-reset-password-phone,  &-reset-password-email,  &-reset-password-sended,  &-reset-password-success, &-reset-password-form{
    &__main-wrapper{
      padding: 64px 24px 24px 24px;
      
      background: $color-bg2;
    }
    &__close-btn{
      position: absolute;
      top: 24px;
      right: 24px;

      @include flexCenter;
      width: 24px;
      height: 24px;
  
      cursor: pointer;
  
      &:before,
      &:after {
        content: "";
        position: absolute;
  
        width: 21px;
        height: 2px;
  
        background: $color-black2;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &__title{
      margin-bottom: 24px;

      &.like-h2{
        color: $color-coral1;
      }
    }
    &__subtitle{
      margin-bottom: 16px;

      @extend .p1;
      color: $color-black3;
    }
    &__success-button{
      @extend .btn-default;
      margin-top: auto;
    }
    &__auth-button{
      @include button-with-bg(white, $color-coral1, white, $color-coral1);
    
      width: 100%;
      margin-top: 16px;
      padding: 12px;

      border-radius: $border-radius1;
    }
    &__or{
      margin-bottom: 16px;

      @extend .field-label;
      font-weight: 700;
      color: $color-coral1;
    }
    &__form{
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    input{
      background: #ffffff;
    }
  }

  
  &-contact-form{
    &__main-wrapper{
      position: relative;
      background: #ffffff;

      width: 370px;
    }
    &__close-btn{
      position: absolute;
      top: calc(-16px - 10px);
      right: 0;

      @include flexCenter;
      width: 16px;
      height: 16px;
  
      cursor: pointer;
  
      &:before,
      &:after {
        content: "";
        position: absolute;
  
        width: 21px;
        height: 1.5px;
  
        background: #FFFFFF;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &__title{
      margin-bottom: 10px;

      font-family: $font-roboto-slab;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      
      color: #000000;
    }
    &__subtitle{
      margin-bottom: 20px;

      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: $color-m-dark-brown;
    }
    &__button{
      margin: auto;
    }
    &__policy-privacy{
      margin-top: 20px;

      font-family: $font-roboto;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: $color-a-gray;
      
      a{
        text-decoration: underline;
        color: $color-a-gray;
      }
    }
  }
  &-switch-region{
    &__main-wrapper{
      position: relative;
      background: #ffffff;

      width: 770px;
      padding: 30px;
    }
    &__close-btn{
      position: absolute;
      top: calc(-16px - 10px);
      right: 0;

      @include flexCenter;
      width: 16px;
      height: 16px;
  
      cursor: pointer;
  
      &:before,
      &:after {
        content: "";
        position: absolute;
  
        width: 21px;
        height: 1.5px;
  
        background: #FFFFFF;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &__title{
      margin-bottom: 10px;

      font-family: $font-roboto-slab;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: left;
      color: #000000;
    }
    &__search-panel{
      margin: 20px 0 25px;
    }
    &__country-title, &__city-title{
      margin-bottom: 10px;

      font-family: $font-roboto;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #000000;
    }
    &__country-list{
      min-width: 90px;

      &-item{
        width: max-content;
        margin-bottom: 8px;

        font-family: $font-roboto;
        font-weight: 400;
        font-size: 12px;
        color: $color-m-dark-brown;
        
        border-bottom: 1px dashed $color-m-dark-brown;

        &.is-active{
          padding: 6px 10px;
          
          background: $color-m-brown;
          border-radius: $bord-rad;
          border-bottom: unset;

          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          color: #FFFFFF;
        }
        
        &:hover:not(.is-active){
          color: $color-m-brown;

          cursor: pointer;
          border-color: $color-m-brown;
        }
      } 
    }
    &__content{
      display: flex;

      &-devider{
        display: flex;
        width: 1px;
        height: initial;
        margin: 0 20px;
  
        background: #D2D2D2;
        border: unset;
      }
    }
    &__city-list{
      height: 330px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;

      &-item{
        flex: 1 1 max-content;
        width: 130px;
        margin: 0 20px 0px 0;
        
        font-family: $font-roboto;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: $color-m-dark-brown;

        cursor: pointer;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
