$fields: 20px;
$font-size: 18px;
$Ubuntu: "Ubuntu", sans-serif;
$html-background: #faf7fc;
$purple: #6e14cf;
$purple-on-dark: #8f5dfa;
$purple-hover: #861df5;
$gray1: #121212;
$gray2: #595959;
$gray3: #828282;

$max-width: 1024px;

$font-museo-sans: "MuseoSansCyrl", sans-serif;

$color-black: #1a1718;
$color-black1: #f7fbff;
$color-black2: #7597ba;
$color-black3: #101820;

$devider: #ebebeb;
$devider-ikea: #f5f5f5;

$color-bg1: #ffffff;
$color-bg2: #fafafa;
$color-bg3: #f2f2f2;
$color-bg4: #e9e9e9;

$color-coral1: #e4002b;
$color-coral2: #ff8fa4;
$color-coral3: #ffd3db;

$color-wood: #e0c6ad;

$color-mint-strong: #71cc98;
$color-mint-light: #a2e4b8;
$color-mint-dark: #49be7b;

$color-dark-grey: #92868b;

$border-radius1: 4px;
$border-radius2: 6px;
$border-radius3: 8px;






$font-roboto:         'Roboto', sans-serif;
$font-roboto-slab:    'Roboto Slab', sans-serif;

$color-m-brown:       #A89691;
$color-m-green:       #567D79;
$color-m-blue:        #83A4B9;
$color-m-pink:        #A1818A;
$color-m-dark-brown:  #434343;

$color-a-paper:       #F4F2F0;
$color-a-brown:       #866C65;
$color-a-gray:        #818181;

$color-red: #FF0000;

$bord-rad: 3px;
$bord-rad1: 4px;