
/*--------------------------------------------------
	Tippy Plugin
---------------------------------------------------*/

// Theme "pinksdrev"
.tippy-box[data-theme~='pinskdrev'] {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: $color-m-dark-brown;

  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0;

  .tippy-content {
    padding: 15px;
  }
  .tippy-arrow {
    color: #ffffff;
  }
}
// Theme "pinksdrev"

// Theme "pinksdrev-region"
.tippy-box[data-theme~='pinskdrev-region'] {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0;

  .tippy-content {
    padding: 20px;
  }
  .tippy-arrow {
    color: #ffffff;
  }
}
// Theme "pinksdrev-region"

// Theme "pinksdrev-telephone"
.tippy-box[data-theme~='tippy-theme-a'] {
  width: max-content;
  padding: 1px 6px 3px 6px;

  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0;

  .tippy-content {
    width: max-content;
    padding: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #222222;
  }
  .tippy-arrow {
    color: #ffffff;
  }
}
// Theme "pinksdrev-telephone"


/*--------------------------------------------------
	Popups
---------------------------------------------------*/

// .pp-region{
// 	&__text{
// 		font-family: $font-roboto;
// 		font-weight: 400;
// 		font-size: 14px;
// 		line-height: 24px;
// 		text-align: center;

// 		color: $color-m-dark-brown;
// 	}
// 	&__buttons-wrapper{
// 		display: flex;
// 		margin-top: 10px;
// 	}
// 	&__success-button{
// 		margin-right: 10px;
// 		padding: 11px 15px;

// 		font-family: $font-roboto;
// 		font-weight: 700;
// 		font-size: 11px;
// 		line-height: 13px;
// 		letter-spacing: 0.1em;
// 		text-transform: uppercase;
// 		color: #FFFFFF;

// 		background: $color-m-green;
// 		border-radius: $bord-rad;

// 		&:hover{
// 			background: $color-m-brown;
// 		}
// 	}
// 	&__change-button{
// 		flex: 1;
// 		padding: 11px 15px;

// 		font-family: $font-roboto;
// 		font-weight: 700;
// 		font-size: 11px;
// 		line-height: 13px;
// 		letter-spacing: 0.1em;
// 		text-transform: uppercase;
// 		color: $color-m-green;

// 		border: 1px solid $color-m-green;
// 		box-sizing: border-box;
// 		border-radius: 3px;

// 		&:hover{
// 			color: $color-m-brown;
// 			border-color: $color-m-brown;
// 		}
// 	}
// }
// .pp-telephone{
// 	&__item{
// 		font-family: $font-roboto;
// 		font-weight: 500;
// 		font-size: 15px;
// 		line-height: 24px;
// 		color: #000000;

// 		&:hover{
// 			text-decoration: underline;
// 		}
// 	}
// }
