html, body, p, a, button, input, select, textarea {
  font-family: $TTNorms;
}
h1, h2, h3 h4, h5, h6{
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1, .like-h1 {
  font-family: TTRamillas-ExtraLight;
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #161616;
  mix-blend-mode: luminosity;
}
h2, .like-h2 {
  font-family: TTRamillas-ExtraLight;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  letter-spacing: -0.04em;
  color: #161616;
  mix-blend-mode: luminosity;

  @include for-size(phone-only){
    font-family: TTRamillas-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
  }
}
h3, .like-h3 {
  font-family: TTRamillas-ExtraLight;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #161616;
  mix-blend-mode: luminosity;
}
h4, .like-h4 {
}
h5, .like-h5 {
}
.p1{
}
.p2{
}
.p3{
}
.field {
}
.tag{
}
.tabbar {
}
.btn {
}
input,
button {
}
input,
select,
textarea {
}
