.header-menu
  .header-menu__icon
    .header-menu__icon-top
    .header-menu__icon-middle
    .header-menu__icon-bottom
    .header-menu__icon-cross-top
    .header-menu__icon-cross-bottom
  ul.header-menu__list
    li.header-menu__item
      a(href="#").header-menu__link Dashboard
    li.header-menu__item
      a(href="#").header-menu__link History
    li.header-menu__item
      a(href="#").header-menu__link Statistics
    li.header-menu__item
      a(href="#").header-menu__link Settings
  .header-menu__bg

.menu-mbl
  .container.menu-mbl__container
    a(href="javascript:void(0);").menu-mbl__item
      svg(width='20' height='21' viewbox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg')
        g(clip-path='url(#clip0)')
          path(d='M8.33333 3.32959H2.5V9.16292H8.33333V3.32959Z' stroke='black' stroke-linecap='round' stroke-linejoin='round')
          path(d='M17.5001 3.32959H11.6667V9.16292H17.5001V3.32959Z' stroke='black' stroke-linecap='round' stroke-linejoin='round')
          path(d='M17.5001 12.4961H11.6667V18.3294H17.5001V12.4961Z' stroke='black' stroke-linecap='round' stroke-linejoin='round')
          path(d='M8.33333 12.4961H2.5V18.3294H8.33333V12.4961Z' stroke='black' stroke-linecap='round' stroke-linejoin='round')
        defs
          clippath#clip0
            rect(width='20' height='19.9955' fill='white' transform='translate(0 0.82959)')
      p.menu-mbl__text Каталог
    a(href="javascript:void(0);").menu-mbl__item
      svg(width='20' height='21' viewbox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg')
        g(clip-path='url(#clip0)')
          path(d='M8.875 16.4525C12.6029 16.4525 15.625 13.4309 15.625 9.70356C15.625 5.97621 12.6029 2.95459 8.875 2.95459C5.14708 2.95459 2.125 5.97621 2.125 9.70356C2.125 13.4309 5.14708 16.4525 8.875 16.4525Z' stroke='#161616' stroke-linecap='round' stroke-linejoin='round')
          path(d='M17.875 18.7046L13.9375 14.7671' stroke='#161616' stroke-linecap='round' stroke-linejoin='round')
        defs
          clippath#clip0
            rect(width='18' height='17.9959' fill='white' transform='translate(1 1.82959)')
      p.menu-mbl__text Поиск
    a(href="javascript:void(0);").menu-mbl__item
      svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M17.3666 3.84172C16.941 3.41589 16.4356 3.0781 15.8794 2.84763C15.3232 2.61716 14.727 2.49854 14.1249 2.49854C13.5229 2.49854 12.9267 2.61716 12.3705 2.84763C11.8143 3.0781 11.3089 3.41589 10.8833 3.84172L9.99994 4.72506L9.1166 3.84172C8.25686 2.98198 7.0908 2.49898 5.87494 2.49898C4.65908 2.49898 3.49301 2.98198 2.63327 3.84172C1.77353 4.70147 1.29053 5.86753 1.29053 7.08339C1.29053 8.29925 1.77353 9.46531 2.63327 10.3251L3.5166 11.2084L9.99994 17.6917L16.4833 11.2084L17.3666 10.3251C17.7924 9.89943 18.1302 9.39407 18.3607 8.83785C18.5912 8.28164 18.7098 7.68546 18.7098 7.08339C18.7098 6.48132 18.5912 5.88514 18.3607 5.32893C18.1302 4.77271 17.7924 4.26735 17.3666 3.84172V3.84172Z' stroke='#161616' stroke-linecap='round' stroke-linejoin='round')
      p.menu-mbl__text Избранное
    a(href="javascript:void(0);").menu-mbl__item
      svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M16.0168 5.39833C16.0168 5.1805 15.799 5.01713 15.5812 5.01713H13.5663V4.58147C13.5663 2.56656 11.987 0.987305 9.9721 0.987305C8.01164 0.987305 6.43238 2.56656 6.43238 4.58147V5.01713H4.36301C4.14518 5.01713 3.98181 5.1805 3.98181 5.39833L3.00158 17.4333C2.94713 18.2502 3.60061 19.0126 4.47193 19.0126H15.5267C16.3436 19.0126 17.0515 18.2502 16.9971 17.4333L16.0168 5.39833ZM7.24924 4.58147C7.24924 3.05667 8.50176 1.80416 9.9721 1.80416C11.4969 1.80416 12.7494 3.05667 12.7494 4.58147V5.01713H7.24924V4.58147ZM15.5267 18.1413H4.47193C4.09073 18.1413 3.81844 17.869 3.81844 17.4878L4.74421 5.83399H6.43238V7.90336C6.43238 8.44793 7.24924 8.44793 7.24924 7.90336V5.83399H12.7494V7.90336C12.7494 8.44793 13.5663 8.44793 13.5663 7.90336V5.83399H15.2L16.1258 17.4878C16.1802 17.869 15.8535 18.1413 15.5267 18.1413Z' fill='#161616')
      p.menu-mbl__text Корзина
    a(href="javascript:void(0);").menu-mbl__item
      svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M16.6667 17.5V15.8333C16.6667 14.9493 16.3155 14.1014 15.6904 13.4763C15.0653 12.8512 14.2174 12.5 13.3334 12.5H6.66671C5.78265 12.5 4.93481 12.8512 4.30968 13.4763C3.68456 14.1014 3.33337 14.9493 3.33337 15.8333V17.5' stroke='#161616' stroke-linecap='round' stroke-linejoin='round')
        path(d='M9.99996 9.16667C11.8409 9.16667 13.3333 7.67428 13.3333 5.83333C13.3333 3.99238 11.8409 2.5 9.99996 2.5C8.15901 2.5 6.66663 3.99238 6.66663 5.83333C6.66663 7.67428 8.15901 9.16667 9.99996 9.16667Z' stroke='#161616' stroke-linecap='round' stroke-linejoin='round')
      p.menu-mbl__text Профиль
  // HEADER
