.M.M-gallery(data-toggle-modal-btn data-MW_scrolled)
  .M__cover
  .M__header
        .M__header-logo
          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 140.05 39.51')
            path(d='m20.35 3.89v-1.19-1.51c0-.2 0-.4 0-.65s0-.28 0-.44v-.1l-.09.05-1.55.85c-.81.46-1.65.93-2.13 1.24a2.06 2.06 0 0 0 -.77 2v.76 16.8-.07c-1.7-2.88-4-4.34-6.91-4.34a7.91 7.91 0 0 0 -4.25 1.25c-2.78 1.71-4.65 5.63-4.65 9.77 0 3.4 1.57 7.82 4.57 9.66a8.1 8.1 0 0 0 4.32 1.35 7.44 7.44 0 0 0 6.8-4.41l.15-.38v3.8.65s0 .27 0 .43v.1h.09l1.48-.85c.81-.45 1.65-.93 2.14-1.23a2.07 2.07 0 0 0 .76-2c.05-.33.04-26.6.04-31.54zm-5.35 31.89c-1.13 1.73-3.29 3.13-4.83 3.13-2.09 0-3.64-1.29-4.62-3.85a20.26 20.26 0 0 1 -1.06-6.75c0-1.79.28-10.68 5.68-10.68 1.57 0 4.13 1.65 5.42 4.1a2.35 2.35 0 0 1 .21.77v10.78a6.07 6.07 0 0 1 -.8 2.5z')
            path(d='m85 10.65a9.62 9.62 0 0 0 -2.12-7.72 7.85 7.85 0 0 0 -6-2.89c-4.11 0-7.11 1.38-8.94 4.1a10.05 10.05 0 0 0 -1.65 5.13v8h-2.62v.22h2.59v20.64.65s0 .27 0 .43v.11l.08-.06 1.48-.84c.82-.46 1.65-.94 2.14-1.24a2 2 0 0 0 .76-2v-17.71h5.58v-.22h-5.51v-9.35c0-2.8.83-4.9 2.46-6.24a6 6 0 0 1 3.59-1.38 7.81 7.81 0 0 1 5.71 2.72 9.16 9.16 0 0 1 2.1 7.33 3.87 3.87 0 0 1 -1.41 2.85l-.11.11v.06a1.13 1.13 0 1 0 2 .7.93.93 0 0 0 0-.27 5.59 5.59 0 0 1 0-3z')
            path(d='m110.61 25.34a8 8 0 0 0 -1.88-5.54c-1.54-1.69-3.91-2.55-7.06-2.55-3.43 0-5.58 1.25-6.94 4v-1.34c0-.69 0-1.37 0-1.57s0-.4 0-.66 0-.27 0-.43v-.1l-.08.05-1.54.8c-.82.47-1.66.94-2.14 1.24a2.07 2.07 0 0 0 -.77 2v.89.11 15.91.65s0 .27 0 .43v.11l.09-.06 1.48-.85c.81-.45 1.65-.93 2.13-1.23a2.05 2.05 0 0 0 .77-2v-13a5.47 5.47 0 0 1 1.41-2.71 6.79 6.79 0 0 1 5.46-2.07c1.36 0 4.54.6 4.49 5.23v15.49.65s0 .27 0 .43v.11l.09-.06 1.48-.85c.81-.45 1.65-.93 2.13-1.23a2.05 2.05 0 0 0 .77-2z')
            path(d='m140.05 35.19v-9.91a7.91 7.91 0 0 0 -1.87-5.5c-1.54-1.68-3.92-2.54-7.07-2.54a11.08 11.08 0 0 0 -2.07.18 5.46 5.46 0 0 0 -1.59.47 5.94 5.94 0 0 0 -2.2 1.64 7.77 7.77 0 0 0 -1.73 3s-.17.7-.19.81a5.59 5.59 0 0 1 -.76 1.56 1.74 1.74 0 0 0 -.11.25 1.17 1.17 0 0 0 .1.86 1.15 1.15 0 0 0 1.54.44 1.11 1.11 0 0 0 .54-.68 1.18 1.18 0 0 0 0-.74v-.08a.93.93 0 0 0 -.12-.19 1.49 1.49 0 0 1 -.42-1.09 6.61 6.61 0 0 1 2-4.56 6.33 6.33 0 0 1 3-1.45l.73-.12a9.94 9.94 0 0 1 1.34-.06c1.36 0 4.54.6 4.49 5.15v3.19c-1.26 1.42-3.84 1.94-5.27 1.94h-2.13a5.73 5.73 0 1 0 0 11.46h.06a8.54 8.54 0 0 0 7.35-4.48v3.37.72s0 .26 0 .41v.1l.09-.05 1.48-.85c.81-.46 1.65-.93 2.13-1.23a2.07 2.07 0 0 0 .68-2.02zm-9.81 3.33a2.67 2.67 0 0 1 -2-.75 6 6 0 0 1 -1.34-4.28 7 7 0 0 1 1.61-4.84 2.33 2.33 0 0 1 1.64-.71h.09c.71 0 3.66-.22 5.27-1.86v8.3c-1.05 1.99-3.32 4.07-5.27 4.14z')
            path(d='m51.28 25.41a7.88 7.88 0 0 0 -1.86-5.5c-1.54-1.68-3.92-2.54-7.08-2.54a11.16 11.16 0 0 0 -2.07.18 5.49 5.49 0 0 0 -1.58.47 5.94 5.94 0 0 0 -2.2 1.64 7.65 7.65 0 0 0 -1.73 3s-.18.7-.2.82a5.41 5.41 0 0 1 -.76 1.52s0 0 0 0a1.06 1.06 0 0 0 -.11.25 1.13 1.13 0 0 0 .1.86 1.13 1.13 0 0 0 2.08-.24 1.11 1.11 0 0 0 0-.74v-.08a1.77 1.77 0 0 0 -.12-.19 1.49 1.49 0 0 1 -.42-1.09 6.57 6.57 0 0 1 2-4.56 6.44 6.44 0 0 1 3-1.45l.74-.11a8.41 8.41 0 0 1 1.33-.07c1.37 0 4.54.6 4.5 5.15v3.27c-1.26 1.42-3.83 1.94-5.26 1.94h-2.27a5.73 5.73 0 1 0 0 11.46h.06a8.54 8.54 0 0 0 7.35-4.48v3.37.72s0 .26 0 .41v.11l.08-.06 1.49-.85c.81-.45 1.65-.93 2.13-1.23a2.07 2.07 0 0 0 .77-2zm-9.79 13.24a2.65 2.65 0 0 1 -2-.75 5.93 5.93 0 0 1 -1.34-4.28 7 7 0 0 1 1.6-4.84 2.35 2.35 0 0 1 1.65-.71h.08c.72 0 3.66-.22 5.27-1.86v8.3c-1.04 1.99-3.3 4.07-5.26 4.14z')
        button.M__header-close-btn(data-toggle-modal-btn)
          svg(xmlns='http://www.w3.org/2000/svg', width='40', height='40', viewbox='0 0 40 40', fill='none')
            path(d='M30 10L10 30', stroke='white', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            path(d='M10 10L30 30', stroke='white', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
  .M__wrapper(data-MW_scrolled)
    .M__main-wrapper(data-modal-wrapper)
      .M__content
        .M-gallery__slider
          .swiper-container#gallerySlider(style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff')
            .swiper-wrapper
              .swiper-slide
                .goods-card-a
                  .goods-card-a__like-wrapper
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
                      path(d='M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.95891 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z' stroke='#646464' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                  a.goods-card-a__img-wrapper(href='javascript:void(0);')
                    img.goods-card-a__img(src='../static/img/chain1.jpg' alt="goods")
                  .goods-card-a__content-wrapper
                    a.goods-card-a__title(href='javascript:void(0);') Серьги Virtue в покрытии золотом
                    .goods-card-a__text Серьги - украшения, которые привлекают внимание к чертам лица. Поэтому Дафна сделала подборку
                    .goods-card-a__price 7200₽
              .swiper-slide
                .goods-card-a
                  .goods-card-a__like-wrapper
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
                      path(d='M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.95891 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z' stroke='#646464' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                  a.goods-card-a__img-wrapper(href='javascript:void(0);')
                    img.goods-card-a__img(src='../static/img/earring-gold1.jpg' alt="goods")
                  .goods-card-a__content-wrapper
                    a.goods-card-a__title(href='javascript:void(0);') Серьги Virtue в покрытии золотом
                    .goods-card-a__text Серьги - украшения, которые привлекают внимание к чертам лица. Поэтому Дафна сделала подборку
                    .goods-card-a__price 7200₽
              .swiper-slide
                .goods-card-a
                  .goods-card-a__like-wrapper
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
                      path(d='M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.95891 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z' stroke='#646464' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                  a.goods-card-a__img-wrapper(href='javascript:void(0);')
                    img.goods-card-a__img(src='../static/img/ring2.jpg' alt="goods")
                  .goods-card-a__content-wrapper
                    a.goods-card-a__title(href='javascript:void(0);') Серьги Virtue в покрытии золотом
                    .goods-card-a__text Серьги - украшения, которые привлекают внимание к чертам лица. Поэтому Дафна сделала подборку
                    .goods-card-a__price 7200₽
              .swiper-slide
                .goods-card-a
                  .goods-card-a__like-wrapper
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
                      path(d='M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.95891 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z' stroke='#646464' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                  a.goods-card-a__img-wrapper(href='javascript:void(0);')
                    img.goods-card-a__img(src='../static/img/new4.jpg' alt="goods")
                  .goods-card-a__content-wrapper
                    a.goods-card-a__title(href='javascript:void(0);') Серьги Virtue в покрытии золотом
                    .goods-card-a__text Серьги - украшения, которые привлекают внимание к чертам лица. Поэтому Дафна сделала подборку
                    .goods-card-a__price 7200₽
              .swiper-slide
                .goods-card-a
                  .goods-card-a__like-wrapper
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
                      path(d='M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.95891 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z' stroke='#646464' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                  a.goods-card-a__img-wrapper(href='javascript:void(0);')
                    img.goods-card-a__img(src='../static/img/earring3.jpg' alt="goods")
                  .goods-card-a__content-wrapper
                    a.goods-card-a__title(href='javascript:void(0);') Серьги Virtue в покрытии золотом
                    .goods-card-a__text Серьги - украшения, которые привлекают внимание к чертам лица. Поэтому Дафна сделала подборку
                    .goods-card-a__price 7200₽
              .swiper-slide
                .goods-card-a
                  .goods-card-a__like-wrapper
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
                      path(d='M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.95891 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z' stroke='#646464' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                  a.goods-card-a__img-wrapper(href='javascript:void(0);')
                    img.goods-card-a__img(src='../static/img/earring3.jpg' alt="goods")
                  .goods-card-a__content-wrapper
                    a.goods-card-a__title(href='javascript:void(0);') Серьги Virtue в покрытии золотом
                    .goods-card-a__text Серьги - украшения, которые привлекают внимание к чертам лица. Поэтому Дафна сделала подборку
                    .goods-card-a__price 7200₽
              .swiper-slide
                .goods-card-a
                  .goods-card-a__like-wrapper
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
                      path(d='M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.95891 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z' stroke='#646464' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                  a.goods-card-a__img-wrapper(href='javascript:void(0);')
                    img.goods-card-a__img(src='../static/img/earring2.jpg' alt="goods")
                  .goods-card-a__content-wrapper
                    a.goods-card-a__title(href='javascript:void(0);') Серьги Virtue в покрытии золотом
                    .goods-card-a__text Серьги - украшения, которые привлекают внимание к чертам лица. Поэтому Дафна сделала подборку
                    .goods-card-a__price 7200₽
              .swiper-slide
                .goods-card-a
                  .goods-card-a__like-wrapper
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
                      path(d='M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.95891 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z' stroke='#646464' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
                  a.goods-card-a__img-wrapper(href='javascript:void(0);')
                    img.goods-card-a__img(src='../static/img/ring2.jpg' alt="goods")
                  .goods-card-a__content-wrapper
                    a.goods-card-a__title(href='javascript:void(0);') Серьги Virtue в покрытии золотом
                    .goods-card-a__text Серьги - украшения, которые привлекают внимание к чертам лица. Поэтому Дафна сделала подборку
                    .goods-card-a__price 7200₽
          .swiper-button-next.gallery-slider__swiper-button-next
          .swiper-button-prev.gallery-slider__swiper-button-prev
    .swiper-container.M__alone-block#galleryThumbsSlider
          .swiper-wrapper
            .swiper-slide
              img(src='../static/img/new1.jpg' alt="goods")
            .swiper-slide
              img(src='../static/img/new2.jpg' alt="goods")
            .swiper-slide
              img(src='../static/img/new3.jpg' alt="goods")
            .swiper-slide
              img(src='../static/img/new4.jpg' alt="goods")
            .swiper-slide
              img(src='../static/img/new5.jpg' alt="goods")
            .swiper-slide
              img(src='../static/img/new1.jpg' alt="goods")
            .swiper-slide
              img(src='../static/img/new6.jpg' alt="goods")
            .swiper-slide
              img(src='../static/img/new3.jpg' alt="goods")
