@font-face{
	font-family: "Segoe Ui";
	src: url("Segoe ui.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "DIN CondensedBlack";
	src: url("DINPro-CondensedBlack.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "DIN CondensedBold";
	src: url("DINPro-CondensedBold.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "DIN CondensedMedium";
	src: url("DINPro-CondensedMedium.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "DIN CondensedRegular";
	src: url("DINPro-CondensedRegular.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "BebasNeue Bold";
	src: url("BebasNeue Bold.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "BebasNeue Light";
	src: url("BebasNeue Light.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "BebasNeue Regular";
	src: url("BebasNeue Regular.otf");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'OpenSans Bold';
	src: url('OpenSans-Bold.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'OpenSans';
	src: url('Opensans.ttf');
	font-style: normal;
	font-weight: normal;
}
