@font-face{
	font-family: "TT Norms";
	src: url("../static/fonts/TTNorms-Light.woff2");
	font-weight: 300;
}
@font-face{
	font-family: "TT Norms";
	src: url("../static/fonts/TTNorms-Regular.woff2");
	font-weight: 400;
}
@font-face{
	font-family: "TT Norms";
	src: url("../static/fonts/TTNorms-Medium.woff2");
	font-weight: 600;
}
@font-face{
	font-family: "TT Norms";
	src: url("../static/fonts/TTNorms-Bold.woff2");
	font-weight: 700;
}
@font-face{
	font-family: "TTRamillas-ExtraLight";
    font-style: normal;
	src: url("../static/fonts/TTRamillas-ExtraLight.otf");
	font-weight: 100;
}
@font-face{
	font-family: "TTRamillas-Light";
    font-style: normal;
	src: url("../static/fonts/TTRamillas-Light.otf");
	font-weight: 200;
}
@font-face{
	font-family: "TTRamillas-LightItalic";
    font-style: italic;
	src: url("../static/fonts/TTRamillas-LightItalic.otf");
	font-weight: 200;
}
@font-face{
	font-family: "TTRamillas";
    font-style: italic;
	src: url("../static/fonts/TTRamillas-MediumItalic.otf");
	font-weight: 600;
}
@font-face{
	font-family: "TTRamillas";
    font-style: normal;
	src: url("../static/fonts/TTRamillas-Regular.otf");
	font-weight: 400;
}
