/*--------------------------------------------------
	General
---------------------------------------------------*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}
html {
  background: #FFFFFF;
}
html,
body {
  font-weight: 400;
}
body {
  &.hidden {
    opacity: 0;
  }
}
.c-scrollbar{
  display: none;
}
.scroll-page{
  width: 100%;
}
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100%;

  transition: .3s transform;

  &.header-out{
    transform: translateY(-100%);
  }
  &.dark-mode{
    .header{
      &__logotip{
        fill: #161616;
      }
      &__phone{
        color: #161616;
      }
      &__nav{
        &-item{
          &-text{
            color: #161616;
          }
        }
      }
      &__ico-link svg path{
        stroke: #161616;
      }
      &__ico-link--cart svg path{
        fill: #161616;
      }
      &__buttons-separator{
        background: #161616;
      }
      &__m-menu-btn{
        span{
          background: #161616;
        }
      }
      &__m-phone{
        path{
          stroke: #161616;
        }
      }
    }
  }
  // &.header-styled-m{
  //   background: rgba(0, 0, 0, 0.5);
  // }

  @include for-size(phone-only) {

    .header{
      &__logotip {
        top: -3px;
      }
      &__m{
        &-phone, &-menu-btn{
          margin-top: 1px;
        }
      }
    }
  }
  @include for-size(phone-medium) {
    height: 56px;

    .header{
      &__container{
        height: 100%;
      }
    }
  }

  &__container {
    @include container;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;

    @include for-size(tablet-portrait-up) {
      height: calc(40px + 24px * 2);
      padding: 0;
    }
  }
  &__logotip {
    width: 113px;
    height: max-content;

    fill: #FFFFFF;

    @include for-size(tablet-landscape-up){
      width: 90px;
    }
    @include for-size(tablet-portrait-up){
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      width: 113px;
      height: 32px;
      margin: auto;
    }
  }
  &__nav{
    display: flex;
    align-items: center;
    grid-column-gap: 32px;
    margin: 8px 0 0 64px;

    @include for-size(tablet-landscape-up){
      grid-column-gap: 16px;
      margin: 8px 0 0 32px;
    }
    @include for-size(tablet-portrait-up){
      display: none;
    }

    &-item{
      position: relative;
      display: flex;
      align-items: center;

      &:hover{
        &::before{
          transform-origin: 0% 50%;
          transform: scale3d(1, 1, 1);
        }
      }
      &::before {
        content: '';

        position: absolute;
        width: 100%;
        height: 1px;
        background: #FFFFFF;
        top: 117%;
        left: 0;
        pointer-events: none;

        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.4s;
      }
      &-text{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #EBEBEB;


        cursor: pointer;

        @include for-size(desktop-up){
          font-size: 14px;
          line-height: 16px;
        }
      }
      &-ico{
        margin-right: 10px;
      }
    }
  }
  &__buttons{
    display: flex;
    align-items: center;
    margin-top: 10px;

    @include for-size(tablet-portrait-up){
      display: none;
    }

    &-separator{
      width: 1px;
      height: 14px;
      margin: 0px 24px;

      opacity: 0.4;
      border: unset;
      background: #B4BBC1;

      @include for-size(desktop-up){
        margin: 0px 16px;
      }
      @include for-size(tablet-landscape-up){
        margin: 0px 12px;
      }
    }
  }
  &__phone{
    margin-right: 3px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;

    transition: .15s opacity;

    &:hover{
      opacity: .5;
    }

    @include for-size(tablet-landscape-up){
      font-size: 12px;
      line-height: 15px;
    }
  }
  &__ico-link{
    transition: .15s opacity;

    &:hover{
      opacity: .5;
    }

    svg{
      @include for-size(tablet-landscape-up){
        width: 14px;
        height: 14px;
      }
    }
  }
  &__m{
    &-phone, &-menu-btn{
      display: none;
      margin-top: 8px;

      @include for-size(tablet-portrait-up) {
        @include flexCenter;
      }
    }
    &-menu-btn {
      position: relative;

      overflow: hidden;
      width: 24px;
      height: 24px;

      input{
        display: none !important;
      }
      input:checked + &-lines{
        span{
          &:nth-child(1){
            transform: translateY(0) rotate(45deg);
          }
          &:nth-child(2){
            width: 0;
          }
          &:nth-last-child(1){
            transform: translateY(0) rotate(-45deg);
          }
        }
      }
      label{
        position: absolute;
        z-index: 2;

        display: flex;
        width: 100%;
        height: 100%;
        margin: auto;

        opacity: 0;
      }
      &-lines{
        position: relative;

        @include flexCenter;
        width: 100%;
        height: 100%;
      }
      span{
        position: absolute;

        display: flex;
        width: 18px;
        height: 1px;

        background: #FFFFFF;

        transition: .3s transform;

        &:nth-child(1){
          transform: translateY(calc(-6px - 1px));
        }
        &:nth-last-child(1){
          transform: translateY(calc(6px + 1px));
        }
      }
    }
    &-phone{
      height: 24px;
    }
  }

  &__catalog {
    position: absolute;
    z-index: 2;
    top: 100%;

    @include for-size(tablet-landscape-up) {
      left: 0;

      width: max-content;
    }

    display: none;
  }
  &__search {
    &-icon{
      margin-right: 10px;
    }
    &-panel {
      position: relative;

      display: flex;
      align-items: center;
      width: 250px;
      max-width: 100%;
      margin-left: 73px;
      padding: 0 15px;

      background: #FFFFFF;
      border: 1px solid #D2D2D2;
      border-radius: 3px;

      .search-panel {
        display: none;
      }
      &.active {
        .search-panel {
          display: block;
        }
      }

      @include for-size(phone-only) {
        display: none;
      }
    }
    &-input {
      width: calc(100% - 40px);
      padding: 10px 0;

      border: unset;
      flex: 1;

      font-family: $font-roboto;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;

      color: $color-a-gray;
    }
  }
  &__button {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;

    cursor: pointer;
    &:nth-child(2) {
      margin-left: 16px;
    }
    &:hover {
      .drop-down {
        display: flex;
      }
      .header__favorites-btn-highlight {
        path,
        rect {
          stroke: gold;
        }
      }
    }

    @include for-size(phone-only) {
      margin-left: 16px;
      padding-left: 0px;
      padding-right: 0px;
    }

    &--search {
      display: none;

      @include for-size(phone-only) {
        display: flex;
      }
    }
  }
  &__cart {
    display: flex;
    align-items: center;
    margin-left: 40px;

    &-icon-wrapper{
      position: relative;
    }
    &-icon{
      margin-right: 5px;
    }
    &-icon-counter{
      position: absolute;
      right: 0px;
      top: -8px;

      @include flexCenter;
      width: 18px;
      height: 18px;

      border-radius: 50%;
      background: $color-m-green;

      font-family: $font-roboto;
      font-weight: 700;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
      color: #FFFFFF;
    }
    &-text{
      margin-top: 4px;

      font-family: $font-roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }

    @include for-size(phone-only) {
      display: none;
    }
  }
  &__drop-down {
    position: absolute;
    top: 100%;
    right: -100%;
    z-index: 11;

    display: none;

    &-cart {
      right: -270%;
    }

    @include for-size(phone-only) {
      display: none !important;
    }
  }
  &__change-lang-wrapper{
    margin-left: 35px;
  }
  &__dd-catalog-wrapper{
    &:hover{
      .dd-catalog{
        pointer-events: all;
        opacity: 1;
      }
      .header__dd-catalog-caption{
        color: $color-m-brown;
      }
    }
  }
  &__dd-catalog-caption

  &__drop-down-menu{
    position: absolute;
    z-index: 3;
    top: 100%;
    left: -20px;

    width: max-content;
    padding-top: 10px;

    pointer-events: none;
    opacity: 0;

    transition: .1s opacity;

    &-triangle{
      position: absolute;
      top: 3px;
      left: 43px;
    }

    &-wrapper{
      position: relative;

      &:hover{
        .header__drop-down-menu{
          opacity: 1;
          pointer-events: all;
        }
      }
    }
    &-container{
      width: 100%;
      padding: 20px;

      background: #ffffff;
      box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);

      li{
        font-family: $font-roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $color-m-dark-brown;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
.menu-mbl {
  position: fixed;
  z-index: 100;
  bottom: 0;

  width: 100%;
  padding: 16px;

  display: none;

  @include for-size(phone-medium){
    display: flex;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 !important;

    background: #F5F1ED;
  }
  &__item{
    @include flexCenter;
    flex-direction: column;
    width: calc(100% / 5);

    border-right: 1px solid #B4BBC1;

    &:last-child{
      border-right: unset;
    }
  }
  &__text{
    margin-top: 8px;

    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #646464;

  }
}


$purple: #57385C;
$orange: #EC7263;

//transitions
$transition: all 400ms ease-in-out;

.header-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  @include flexCenter;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  &__bg {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1;
    width: 24px;
    height: 24px;
    background: #f8f7f4;
    border-radius: 50%;
    transition: all 400ms ease;
    transform: scale(0);

    &-show {
      transform: scale(50);
    }
  }
  &__icon {
    position: absolute;
    top: 26px;
    left: 20px;
    z-index: 2;
    width: 17px;
    height: 17px;
    cursor: pointer;

    &-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 17px;
      height: 2px;
      background: $orange;
      transition: $transition;
      &-hide {
        opacity: 0;
        transform: translate(40vw, 35vh) scale(2);
      }
    }
    &-middle {
      position: absolute;
      top: 7px;
      left: 0;
      width: 11px;
      height: 2px;
      background: $orange;
      transition: $transition;
      &-hide {
        opacity: 0;
        transform: translate(40vw, 40vh) scale(2);
      }
    }
    &-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 17px;
      height: 2px;
      background: $orange;
      transition: $transition;
      &-hide {
        opacity: 0;
        transform: translate(40vw, 45vh) scale(2);
      }
    }
    &-cross-top {
      position: absolute;
      top: 0;
      width: 18px;
      height: 1px;
      background: #222222;
      transition: $transition;
      transform: translate(-2px, 7px) rotate(45deg) scale(0);
      &-show {
        transform: translate(-2px, 7px) rotate(45deg) scale(1);
      }
    }
    &-cross-bottom {
      position: absolute;
      bottom: 0;
      width: 18px;
      height: 1px;
      background: #222222;
      transition: $transition;
      transform: translate(-2px, -8px) rotate(-45deg) scale(0);
      &-show {
        transform: translate(-2px, -8px) rotate(-45deg) scale(1);
      }
    }
  }
  &__list {
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: $transition;
    transform: translate(-99px, -114px) scale(.15, .15);

    &-show {
      opacity: 1;
      transform: translate(0) scale(1);

      &-link{
        padding: 15px 0;
      }
    }
  }
  &__link {
    display: block;
    padding: 15px 72px 15px 0;
    transition: all 200ms ease;

    font-family: TT Norms;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #222222;
    text-align: center;

    text-decoration: unset;
  }
}




.main {
  flex: 1 0 auto;
  width: 100%;

  overflow: hidden;

  &__container {
    position: relative;

    padding-top: 16px;
    padding-bottom: 72px;

    @include for-size(phone-only) {
      padding-top: 32px;
      padding-bottom: 44px;
    }
  }
  &__text {
  }
  &__title {
    display: flex;
    align-items: center;
    margin: 40px 0 32px 0;

    @include for-size(phone-only) {
      margin-top: 0;
      margin-bottom: 24px;
    }

    &-text {
    }

    &-about {
      @include for-size(phone-only) {
        padding: 0 24px;
      }
    }
  }
}

.footer {
  position: relative;

  width: 100%;
  padding-top: 62px;
  padding-bottom: 19px;

  background: #FFFFFF;

  @include for-size(phone-only) {
    padding-top: 72px;
    padding-bottom: 24px;
  }

  &__container{
    display: flex;
    flex-direction: column;
  }
  &__socials{
    position: absolute;
    top: 47px;
    right: 64px;

    display: flex;
    flex-direction: column;
    grid-gap: 24px;

    @include for-size(phone-only){
      top: 72px;
      right: 16px;
    }

    &-link{
      transition: .15s opacity;
      &:hover{
        opacity: .5;
      }
    }
  }
  &__top{
    display: flex;
    justify-content: space-between;

    @include for-size(phone-only){
      flex-direction: column-reverse;
    }
  }
  .subscribe-form{
    @include for-size(tablet-landscape-up){
      width: 280px;
    }
    @include for-size(phone-only){
      width: 375px;
      margin-top: 48px;
    }
  }
  &__nav {
    display: flex;
    grid-gap: 11vw;
    padding-right: 144px;

    @include for-size(tablet-portrait-up){
      padding-right: 50px;
    }
    @include for-size(phone-only){
      flex-direction: column;
      grid-gap: 19px;
      padding-right: 0;
    }

    &-list{
      display: grid;
      grid-gap: 19px;
    }
    &-item{
      &:hover{
        a::before{
          transform-origin: 0% 50%;
          transform: scale3d(1, 1, 1);
        }
      }

      a{
        position: relative;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #161616;

        transition: .15s opacity;

        &::before {
          content: '';

          position: absolute;
          width: 100%;
          height: 1px;
          background: #161616;
          top: 117%;
          left: 0;
          pointer-events: none;

          transform-origin: 100% 50%;
          transform: scale3d(0, 1, 1);
          transition: transform 0.3s;
        }
      }
    }
  }
  &__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 114px;

    @include for-size(phone-only){
      padding-top: 64px;
    }

    &-text{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #444444;
      opacity: 0.5;
    }
  }
  &__madeby-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    opacity: 0.5;

    a{
      font-weight: 600;
      margin-left: 3px;

      transition: .15s opacity;
      &:hover{
        opacity: .5;
      }
    }
  }
}
.menu-mobile{
  position: absolute;
  top: 100%;

  width: 100%;
  padding: 20px 15px;

  background: $color-a-paper;

  overflow-y: scroll;
  height: calc(100vh - 46px);

  display: none;
  &.is-active{
    display: flex;
    flex-direction: column;
  }

  &__depth1{
    border-bottom: 1px solid #D2D2D2;

    &-title{
      display: flex;
      align-items: center;

      font-family: $font-roboto;
      font-weight: 700;
      font-size: 15px;
      line-height: 40px;
      color: #000000;

      &-icon{
        width: 7px;
        height: 4px;
        margin-left: auto;

        transition: .2s transform;

        &.is-active{
          transform: rotate(180deg);
        }
      }
    }
    &-toggled{
      display: none;

      &.is-active{
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
      }
    }
    &-indicator{
      width: 5px;
      height: 5px;
      margin: 0 0 10px 2px;

      background-color: $color-red;
      border-radius: 50%;
    }
  }
  &__depth2{
    margin-bottom: 5px;
    padding-left: 9px;

    &:last-child{
      margin-bottom: 0;
    }

    &-toggled{
      display: none;

      &.is-active{
        display: flex;
        flex-direction: column;
      }
    }
    &-title{
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-family: $font-roboto;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: $color-m-dark-brown;

      &-icon{
        width: 7px;
        height: 4px;

        transition: .2s transform;

        &.is-active{
          transform: rotate(180deg);
        }
      }
    }
  }
  &__depth3{
    padding-left: 14px;

    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: $color-m-dark-brown;

    &:hover{
      color: $color-m-brown;
    }
  }
  &__change-lang-wrapper{
    margin-top: 20px;
  }
}
.container {
  @include container;
}
section {
  position: relative;

  width: 100%;
}
.main-menu {
  position: fixed;
  top: unset;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: grid;
  width: 100%;
  margin: auto;
  padding: 8px 16px 12px 16px;

  background: $color-bg1;

  grid-template-columns: repeat(5, 1fr);

  &.is-invisible{
    opacity: 0;
    pointer-events: none;
  }

  &__item {
    @include flexCenter;
    flex-direction: column;

    &.is-active {
      .main-menu__item {
        &-icon {
          fill: $color-coral1;
          stroke: $color-coral1;
        }
        &-text {
          color: $color-coral1;
        }
      }
      &.main-menu__item-profile {
        .main-menu__item {
          &-icon-wrapper {
            background: $color-coral1;
          }
          &-icon {
            fill: #ffffff;
            stroke: #ffffff;
          }
          &-text {
            color: $color-black3;
          }
        }
      }
    }
    &-icon-wrapper {
      @include flexCenter;
      width: 32px;
      height: 32px;

      border-radius: 50%;
    }
    &-icon {
      width: 24px;
      height: 24px;

      fill: $color-black3;
      stroke: $color-black3;
    }
    &-text {
      color: $color-black3;

      // @extend .tabbar;
      font-weight: 700;
    }
  }
}

#masthead #site-navigation {
  display: none;
}
body.wp_mm_enable {
  overflow: hidden;
}

$header-height: 56px;
/*--------------------------------------------------
	Меню в хедере
---------------------------------------------------*/
body.wp_mm_enable {
  overflow: hidden;
}
.body_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.6);
  z-index: 998;
  display: none;
  opacity: 0;
  transition: opacity 0.2s;
}
.body_overlay.enabled {
  display: block;
  opacity: 1;
}
.wp_mm_wrapper {
  position: fixed;
  left: 0;
  top: $header-height;
  z-index: -9;

  width: 100%;
  height: calc(100vh - #{$header-height});

  opacity: 0;
  background-color: #ffffff;
  pointer-events: none;

  &.active {
    z-index: 999;
    opacity: 1;

    pointer-events: all;
  }
  .close-btn {
    display: none;
  }
  span.forward {
    margin-left: auto;

    &:before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none"><path d="M1 9L5 5L1 1" stroke="rgb(15, 23, 31)" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
  }
  .nav-menu {
    overflow-y: scroll;
    height: calc(100vh - 56px);

    li.menu-item-has-children > a {
      width: max-content;
    }
    .back {
      display: flex;
      align-items: center;
      padding: 16px;
      min-height: $header-height;
      height: $header-height;

      // @extend .p2-cap;
      color: #ffffff;

      background: $color-black2;

      &__main-plate {
        display: flex;
        align-items: center;

        svg {
          margin-right: 8px;
        }
        a {
          color: #ffffff;
        }
      }

      .back {
        a {
          // @extend .p2-cap;
          color: #ffffff;
        }
      }

      span.left {
        margin-right: 16px;
        padding-top: 3px;

        &:before {
          // content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="16" viewBox="0 0 8 16" fill="none"><path d="M8 15L1 8L8 1" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }
      }
    }
    a {
      display: block;

      // @extend .p1-cap;
      color: $color-black3;
    }
    .sub-menu {
      background-color: $color-bg2;
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 11;
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100vh - 56px);

      .menu-item {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;

        @include for-size(phone-min) {
          font-size: 14px;
          line-height: 22px;
        }
      }

      &-loc {
        &__container {
          padding: 24px 16px;
        }
        &__search-panel {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 8px 0 0;
          margin: 8px 0;

          background: #ffffff;
          border-radius: $border-radius1;
        }
        &__input {
          flex: 1;
          border: unset;
          padding: 12px;
        }
        &__list {
          &-item,
          &-item--red {
            width: 100% !important;
            margin-top: 16px !important;

            border: unset !important;

            a {
              // @extend .p1-cap;
            }
          }
          &-item--red {
            a {
              color: $color-coral1;
              font-weight: 700;
            }
          }
        }
      }
    }
    li.active > .sub-menu {
      display: flex;
      flex-direction: column;
    }
    .menu-item {
      display: flex;
      align-items: center;
      min-height: 56px;
      padding: 8px 0;

      &-location {
        display: flex;
        align-items: center;
        padding: 0 16px;
        width: 100%;
        height: $header-height;

        background: $color-black2;

        a {
          // @extend .p2-cap;
        }
        span.forward {
          margin-left: auto;

          &:before {
            // content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none"><path d="M1 9L5 5L1 1" stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          }
        }
        .sub-menu {
          span.forward {
            margin-left: auto;

            &:before {
              // content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none"><path d="M1 9L5 5L1 1" stroke="hsl(210, 33%, 9%)" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            }
          }
        }
      }
      &__icon {
        width: 24px;
        min-width: 24px;
        height: 24px;
        margin-right: 16px;

        fill: $color-black3;
        stroke: $color-black3;
      }
      &-title {
        a {
          color: $color-coral1;
        }
        svg {
          fill: $color-coral1;
          stroke: $color-coral1;
        }
      }
      span {
        color: $color-black2;
      }
      &:not(.back) {
        list-style-type: none;
        width: calc(100% - 16px * 2);
        margin: 0 auto;

        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
      }
      a {
        padding-right: 20px;
        word-break: break-word;
      }
    }
  }
}


.link-ico{
  display: flex;
  align-items: center;

  &__icon{
    margin-right: 8px;
    fill: $color-m-brown;
    stroke: $color-m-brown;
  }
  &__link{
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

    border-bottom: 1px dashed #000000;

    &:hover{
      color: $color-m-brown;
      border-color: $color-m-brown;
    }
  }
}
.phone-call-button{
  cursor: pointer;

  &:hover{
    .phone-call-button{
      &__icon-wrapper{
        background: $color-m-green;
      }
      &__icon{
        fill: #ffffff;
      }
      &__text-wrapper{
        pointer-events: all;
        opacity: 1;
      }
      &__text{}
    }
  }

  &__icon-wrapper,
  &__icon,
  &__text-wrapper{
    transition: .15s all;
  }

  &__icon-wrapper{
    position: relative;
    z-index: 1;

    @include flexCenter;
    width: 56px;
    height: 56px;

    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include for-size(phone-medium){
      width: 40px;
      height: 40px;
    }
  }
  &__icon{
    width: 26px;
    height: 26px;

    fill: $color-m-green;

    @include for-size(phone-medium){
      width: 20px;
      height: 20px;
    }
  }
  &__text-wrapper{
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;

    width: 220px;
    height: 56px;
    padding: 19px 25px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;

    pointer-events: none;
    opacity: 0;
  }
  &__text{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #866C65;
  }
}
.button-default{
  @include button-dark;
}
.button-default--color--white{
  @include button-light;
}
.button-full-width{
  @include button-dark-full-width;
}
.input-panel{
  &__wrapper{
    position: relative;

    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    &:hover{
      &.is-warning{
        .input-panel__warning-ico-wrapper{
          pointer-events: all;
        }
      }
    }

    &.is-warning{
      .input-panel{
        &__item{
          border: 1px solid $color-red;
          padding-right: calc(15px + 20px + 15px);
        }
        &__warning-ico-wrapper{
          opacity: 1;
        }
      }
    }
  }
  &__item{
    width: 100%;
    padding: 12px 15px;

    background: transparent;
    border: 1px solid #D2D2D2;
    border-radius: 3px;

    font-family: $font-roboto;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $color-m-dark-brown;

    &:focus, &:not(:placeholder-shown){
      border: 1px solid $color-m-brown;
    }

    &::placeholder{
      color: $color-a-gray;
    }
  }
  &__warning-ico-wrapper{
    position: absolute;
    right: 15px;

    @include flexCenter;
    width: max-content;

    pointer-events: none;
    opacity: 0;
    cursor: pointer;

    &-filled{
      display: none;
    }

    &:hover{
      .input-panel__warning-ico-wrapper{
        &-filled{
          display: flex;
        }
        &-unfilled{
          display: none;
        }
      }
    }
  }
}
.textarea-panel{
  &__wrapper{
    margin-bottom: 10px;
  }
  &__item{
    width: 100%;
    max-width: 100%;
    min-height: 41px;
    max-height: 240px;
    padding: 12px 15px;

    background: transparent;
    border: 1px solid #D2D2D2;
    border-radius: 3px;

    font-family: $font-roboto;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $color-m-dark-brown;

    &:focus, &:not(:placeholder-shown){
      border: 1px solid $color-m-brown;
    }

    &::placeholder{
      color: $color-a-gray;
    }
  }
}

.search-panel{
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 15px;

  border: 1px solid #D2D2D2;
  border-radius: 3px;

  @include for-size(phone-only) {
    display: none;
  }

  &__icon{
    margin-right: 10px;
  }
  &__input {
    width: calc(100% - 40px);
    padding: 10px 0;

    border: unset;
    flex: 1;

    font-family: $font-roboto;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: $color-a-gray;
  }
}

.change-lang{
  &-wrapper{
    display: flex;
    align-items: center;
  }
  &__button{
    padding: 5px 8px;

    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $color-m-brown;

    &.is-active{
			color: white;

      background: $color-m-brown;
      border-radius: 3px;
    }
  }
}

.dd-catalog {
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;

  width: 100%;
  padding-top: 10px;

  pointer-events: none;
  opacity: 0;

  transition: .1s opacity;

  display: none;

  &-menu{
    .dd-catalog__triangle{
      position: absolute;
      top: 3px;
      left: 150px;
    }
  }
  &-collections{
    .dd-catalog__triangle{
      position: absolute;
      top: 3px;
      left: 353px;
    }
  }
  &__content {
    width: 100%;
    padding: 5px 20px 25px 0;

    background: #ffffff;
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
  }
  &__block {
    position: relative;

    display: inline;
    float: left;
    width: calc(100% / 4);
    padding: 0 0 0 20px;

  }
  &__category{
    display: flex;
    margin: 20px 0 10px 0;

    font-family: $font-roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

    &:hover{
      text-decoration: underline;
    }
  }
  &__subcategory {
    flex-wrap: wrap;
    margin-bottom: 8px;

    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $color-m-dark-brown;

    &:hover{
      text-decoration: underline;
      color: $color-m-brown;
    }
  }
  &-slider{
    position: relative;

    margin-top: 20px;

    &__slide{
      width: 100%;
      height: 195px;
      margin-bottom: 10px;
      overflow: hidden;
    }
    &__img{
      width: 100%;
    }
    &__img-wrapper{
      @include flexCenter;
      width: 100%;
      height: 100%;
    }
    &__nav-wrapper{
      position: absolute;
      z-index: 2;
      top: 5px;
      right: 5px;
    }
    &__button-next, &__button-prev{

      width: 30px;
      height: 30px;

      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      fill: $color-m-brown;

      &:hover{
        fill: $color-a-brown;
      }

      svg{
        width: 12px;
        height: 12px;
      }

      @include for-size(phone-medium){
        margin-right: 5px;
        width: 30px;
        height: 30px;

        svg{
          width: 12px;
          height: 12px;
        }
      }
    }
    &__title-wrapper{
      position: absolute;
      bottom: 0;
    }
    &__rectangle{
      position: absolute;
      bottom: 0;

      width: 100%;
      z-index: 0;
    }
    &__title{
      position: relative;
      z-index: 1;

      width: calc(100% - 30px - 11px);
      margin-left: 30px;
      margin-bottom: 8px;

      font-family: $font-roboto;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
    }
  }
}
.dd-filter {
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;

  width: 100%;
  padding-top: 10px;

  pointer-events: none;
  opacity: 0;

  transition: .1s opacity;

  &.is-active{
    pointer-events: all;
    opacity: 1;
  }
  &-menu{
    .dd-catalog__triangle{
      position: absolute;
      top: 3px;
      left: 150px;
    }
  }
  &-collections{
    .dd-catalog__triangle{
      position: absolute;
      top: 3px;
      left: 353px;
    }
  }
  &__content {
    width: 100%;
    padding: 25px 30px 30px;

    background: #ffffff;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
  }
  &__block {
    position: relative;

    display: inline;
    float: left;
    width: calc(100% / 4);
    padding: 0 0 0 20px;

  }
  &__category{
    display: flex;
    margin: 20px 0 10px 0;

    font-family: $font-roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

    &:hover{
      text-decoration: underline;
    }
  }
  &__subcategory {
    flex-wrap: wrap;
    margin-bottom: 8px;

    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $color-m-dark-brown;

    &:hover{
      text-decoration: underline;
      color: $color-m-brown;
    }
  }
  &-slider{
    position: relative;

    margin-top: 20px;

    &__slide{
      width: 100%;
      height: 195px;
      margin-bottom: 10px;
      overflow: hidden;
    }
    &__img{
      width: 100%;
    }
    &__img-wrapper{
      @include flexCenter;
      width: 100%;
      height: 100%;
    }
    &__nav-wrapper{
      position: absolute;
      z-index: 2;
      top: 5px;
      right: 5px;
    }
    &__button-next, &__button-prev{

      width: 30px;
      height: 30px;

      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      fill: $color-m-brown;

      &:hover{
        fill: $color-a-brown;
      }

      svg{
        width: 12px;
        height: 12px;
      }

      @include for-size(phone-medium){
        margin-right: 5px;
        width: 30px;
        height: 30px;

        svg{
          width: 12px;
          height: 12px;
        }
      }
    }
    &__title-wrapper{
      position: absolute;
      bottom: 0;
    }
    &__rectangle{
      position: absolute;
      bottom: 0;

      width: 100%;
      z-index: 0;
    }
    &__title{
      position: relative;
      z-index: 1;

      width: calc(100% - 30px - 11px);
      margin-left: 30px;
      margin-bottom: 8px;

      font-family: $font-roboto;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
    }
  }
  &__submit{
    @include button-dark;
  }

  &-sizes{
    &__content {
      display: flex;
      flex-wrap: wrap;
    }
    &__range-panel{
      margin-right: 40px;
      margin-top: 30px;

      &:nth-child(-n + 4){
        margin-top: 0;
      }
      &:nth-child(4n){
        margin-right: 0;
      }
    }
    &__submit-wrapper{
      @include flexCenter;
      height: auto;
      padding-top: 10px;
    }
    &__triangle{
      position: absolute;
      top: 3px;
      left: 43px;
    }
  }
  &-shape{
    &__content {
      display: flex;
      flex-direction: column;
      width: max-content;
      padding: 25px 30px;
    }
    &__range-panel{
      margin-right: 40px;
      margin-top: 30px;

      &:nth-child(-n + 4){
        margin-top: 0;
      }
      &:nth-child(4n){
        margin-right: 0;
      }
    }
    &__submit-wrapper{
      @include flexCenter;
      height: auto;
      padding-top: 20px;
    }
    &__triangle{
      position: absolute;
      top: 3px;
      left: 155px;
    }
    &__form-a-flexRow{
      &:nth-child(n){
        margin-top: 10px;
      }

      &:nth-child(1){
        margin-top: 0;
      }
    }
  }
  &-price{
    &__content {
      display: flex;
      flex-direction: column;
      width: max-content;
      padding: 25px 30px;
    }
    &__range-panel{
      margin-right: 0;
      margin-top: 30px;

      &:nth-child(-n + 4){
        margin-top: 0;
      }
      &:nth-child(4n){
        margin-right: 0;
      }
    }
    &__submit-wrapper{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: auto;
      padding-top: 20px;
    }
    &__triangle{
      position: absolute;
      top: 3px;
      left: 32px;
    }
    &__form-a-flexRow{
      &:nth-child(n){
        margin-top: 10px;
      }

      &:nth-child(1){
        margin-top: 0;
      }
    }
  }
  &-material{
    &__content {
      display: flex;
      flex-direction: column;
      width: max-content;
      padding: 25px 30px;
    }
    &__range-panel{
      margin-right: 0;
      margin-top: 30px;

      &:nth-child(-n + 4){
        margin-top: 0;
      }
      &:nth-child(4n){
        margin-right: 0;
      }
    }
    &__submit-wrapper{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: max-content;
      height: auto;
      padding-top: 20px;
    }
    &__triangle{
      position: absolute;
      top: 3px;
      left: 75px;
    }
    &__form-a-flexRow{
      &:nth-child(n){
        margin-top: 10px;
      }

      &:nth-child(1){
        margin-top: 0;
      }

      p{
        width: 150px;
      }
    }
    &__flexCol{
      &:nth-child(1){
        margin-right: 40px;;
      }
    }
  }
  &-color{
    &__content {
      display: flex;
      flex-direction: column;
      width: max-content;
      padding: 25px 30px;
    }
    &__range-panel{
      margin-right: 0;
      margin-top: 30px;

      &:nth-child(-n + 4){
        margin-top: 0;
      }
      &:nth-child(4n){
        margin-right: 0;
      }
    }
    &__submit-wrapper{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: max-content;
      height: auto;
      padding-top: 20px;
    }
    &__triangle{
      position: absolute;
      top: 3px;
      left: 75px;
    }
    &__form-a-flexRow{
      &:nth-child(n){
        margin-top: 10px;
      }

      &:nth-child(1){
        margin-top: 0;
      }

      p{
        width: 100px;
      }
    }
    &__flexCol{
      &:nth-child(1){
        margin-right: 40px;;
      }
    }
  }
  &-more{
    &__content {
      display: flex;
      flex-wrap: wrap;
    }
    &__range-panel{
      margin-right: 40px;
      margin-top: 30px;

      &:nth-child(-n + 4){
        margin-top: 0;
      }
      &:nth-child(4n){
        margin-right: 0;
      }
    }
    &__submit-wrapper{
      @include flexCenter;
      height: max-content;
      padding-top: 10px;

      margin-top: auto;
    }
    &__triangle{
      position: absolute;
      top: 3px;
      left: 648px;
    }
    &__form-a-flexRow{
      &:nth-child(n){
        margin-top: 10px;
      }

      &:nth-child(1){
        margin-top: 0;
      }
    }
    &__dd-select{
      margin: 25px 40px 0 0;

      &:nth-child(4n){
        margin-right: 0;
      }
      &:nth-child(-n + 4){
        margin-top: 0;
      }
    }
  }
  &__counter{
    margin-left: 15px;

    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: $color-a-gray;
  }
}
.dd-select{
  &__title{
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-m-dark-brown;
  }
  &__select-panel.select-panel{
    position: relative;

    width: 255px;

    border: 1px solid $color-m-brown;

    &-wrapper{
      position: relative;
      z-index: 3;
      width: 100%;
    }
  }
  &__select-panel-item.select-panel__item{
    color: $color-a-gray;

  }
  &__select-panel-icon{
    transition: .1s transform;

    &.is-active{
      transform: rotate(180deg);
    }
  }
  &__toggled{
    position: absolute;
    top: calc(100% - 2%);
    left: 0;
    z-index: 2;

    width: calc(100% + 2px);
    left: -1px;
    padding: 15px 5px 15px 15px;


    background: #FFFFFF;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid $color-m-brown;

    display: none;

    &.is-active{
      display: block;
    }
  }
  &__ovYScroll{
    overflow-y: scroll;
    height: 100%;
    max-height: 210px;
    padding-right: 15px;

    &::-webkit-scrollbar {
      height: 100%;
      width: 3px;
      background: #DCDCDC;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-m-green;
    }
  }
}

// Text animation on scroll
.animation-text__word {
  display: inline-block;
  // padding-right: 10px

  opacity: 0;
  transform: translateY(20px);

  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1) !important;

}
@for $i from 1 through 1000 {
  .text-appear-a .animation-text__word{
    &:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.07 + .5}s !important;
    }
  }
  .text-appear-a-small .animation-text__word{
    &:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.02 + .5}s !important;
    }
  }
}
.text-appear-a, .text-appear-a-small{
  .animation-text__word{
    animation: appear-text-a 2s forwards;
  }
}
@keyframes appear-text-a {
  from {opacity: 0;transform: translateY(20px);}
  to {opacity: 1;transform: translateY(0px);}
}
