/*--------------------------------------------------
	Модальные окна - modal windows
---------------------------------------------------*/
.M {
  @include modalWindowNew;

  &.M-gallery{
    .M{
      &__cover{
        @include flexCenter;
        overflow: hidden;

        backdrop-filter: blur(10px);

        &::before{
          content: '';

          position: absolute;
          z-index: 1;
          width: 120%;
          height: 120%;

          background: rgba(#000000, .55);
          pointer-events: none;
        }
      }
      &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
        max-width: 100%;
      }
      &__main-wrapper{
        width: max-content;
        max-width: 100%;
        height: max-content;
        margin-top: 50px;
        padding: 0;

        @include for-size(phone-only){
          margin-top: 100px;
          padding: 0 20px 0 20px;
        }
      }
      &__header{
        position: absolute;

        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 32px 41px;

        @include for-size(phone-only){
          padding: 22px 20px;
        }

        &-logo{
          width: 113px;
          height: 32px;

          fill: #FFFFFF;
        }
        &-close-btn{
          height: 40px;

          @include for-size(phone-only){
            margin-right: -4px;
          }
        }
      }
      &__content{
        @include flexCenter;
        flex-direction: column;
        width: max-content;
        max-width: 100%;
        height: max-content;
      }
    }
    .M-gallery__slider{
      position: relative;

      width: 466px;
      max-width: 100%;

      @include for-size(desktop-up){
        width: 350px;
      }
      @include for-size(tablet-portrait-up){
        width: 300px;
      }

      .swiper-button-prev, .swiper-button-next{
        outline: none;

        @include for-size(phone-only){
          display: none;
        }
      }
      .swiper-button-prev::after, .swiper-button-next::after{
        @include flexCenter;
        width: 24px;
        height: 24px;

        font-size: 24px;
        color: #FFFFFF;
      }
      .swiper-button-prev::after{
        margin-left: -100px;
      }
      .swiper-button-next::after{
        margin-right: -100px;
      }
    }

    #gallerySlider{
      .swiper-slide{
        width: max-content;
      }
    }
    #galleryThumbsSlider{
      margin: 64px 0 0 0;
      max-width: 100%;

      @include for-size(phone-only){
        margin: 64px 0;
      }
      @include for-size(phone-medium){
        max-width: unset;
        width: 100vw;
      }

      .swiper-wrapper{
      }
      .swiper-slide{
        overflow: hidden;
        @include flexCenter;
        width: 97px;
        max-width: 97px;
        height: 97px;

        cursor: pointer;
        border-radius: 50%;

        transition: .2s all;

        @include for-size(tablet-portrait-up){
          width: 70px;
          max-width: unset;
          height: 70px;
        }
        @include for-size(phone-only){
          width: 60px;
          height: 60px;
          max-height: 60px;
        }

        &.swiper-slide-thumb-active{
          transform: scale(.9);

          &:before{
            content: '';

            position: absolute;
            z-index: 1;

            width: 100%;
            height: 100%;

            pointer-events: none;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
          }
        }

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }
    }
  }
}
